.git
.gem
.direnv
.envrc

# Nix
flake.nix
flake.lock
result

# Runtime data
**/files/homeserver.db
**/files/homeserver.db-shm
**/files/homeserver.db-wal
**/files/media_store/
**/files/*.signing.key
**/certs/

# Not needed in bot image
examples/morph_suit
examples/synapse/files
NOTES.md
LICENSE
README.md
refs
