# Synapse runtime artifacts
**/files/homeserver.db
**/files/homeserver.db-shm
**/files/homeserver.db-wal
**/files/homeserver.pid
**/files/media_store/
**/files/*.signing.key

# Generated TLS certificates
**/certs/

# Schemas
/schemas/

# Gems
/.gem/

# Nix
/.direnv/
result

# Editor
*.swp
*.swo
*~
/refs
*.gem
